<div class="container mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-4"><%= @post.title %></h1>
  <p class="mb-4"><%= @post.text %></p>
  <p class="text-gray-600"><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes' %></p>
  <% if current_user %>
    <% if @post.likes.exists?(user_id: current_user.id) %>
      <%= button_to 'Dislike', post_like_path(@post, @post.likes.find_by(user_id: current_user.id)), method: :delete, class: 'bg-red-500 text-white py-2 px-4 rounded-full mr-2' %>
    <% else %>
      <%= button_to 'Like', post_likes_path(@post), method: :post, class: 'bg-blue-500 text-white py-2 px-4 rounded-full mr-2' %>
    <% end %>
  <% end %>
  <ul>
    <li><%= link_to "Edit", edit_post_path(@post), class: 'text-blue-500 hover:underline mr-2' %></li>
    <li>
      <%= link_to "Destroy", post_path(@post), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      }, class: 'text-red-500 hover:underline' %></li>
  </ul>
  <h2 class="text-2xl font-bold my-4">Comments</h2>
    <%= render @post.comments %>

  <h2>Add a comment:</h2>
  <%= render "comments/form" %>
  <%= link_to "Back", posts_path %>
</div>
