<h1><%= @post.title %></h1>

<p>
  <%= @post.text %>

</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <i><%= comment.author %> said:</i>
  <p><%= comment.body %></p>
  <%= button_to "Delete comment", post_comment_path(@post, comment), method: :delete, data: {'turbo-confirm': 'Are you sure?' } %>
<% end %>

<%= form_for([@post, @post.comments.build]) do |f| %>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>